<h1>Basics</h1>
<p>Respuesta a preguntas:</p>
<ul>
<li>Resource: Es una "Cosa" (ej: un modelo en RoR) en internet que puede ser "encontrada", "descrita" y "modificada" por una URI.</li>
<li>RESTFull Routing deja manipular un Resource por medio de operaciones stataless</li>
<li>La idea es permitir una interfaz CRUD sobre el resource utilizando los m&eacute;todos HTTP: GET, PUT, POST, DELETE (puede que PATCH)</li>
</ul>