<h1>Git</h1>
<ul>
<li>Inicializaci&oacute;n de un repositorio de git nuevo en una aplicaci&oacute;n existente
<ul>
<li>git init</li>
</ul>
</li>
<li>Creaci&oacute;n de un branch nuevo
<ul>
<li>git checkout -b branch</li>
</ul>
</li>
<li>Realizar un commit incluyendo todos los cambios actuales
<ul>
<li>git add - A&nbsp;</li>
<li>git commit -m "mensaje"</li>
</ul>
</li>
<li>C&oacute;mo enviar el c&oacute;digo al repositorio remoto
<ul>
<li>git push origin master</li>
</ul>
</li>
<li>C&oacute;mo configurar el origen del repositorio remoto para evitar escribirlo<br />siempre cada vez que se hace un push o un pull.
<ul>
<li>&iquest;C&oacute;mo?</li>
</ul>
</li>
<li>Diferencia entre un reset y revert
<ul>
<li>Reset es como un rollback a un commit previo (cuando la embarr&eacute; comon undo)</li>
<li>Revert es como un cancel para eliminar todo pues hace un nuevo commit</li>
</ul>
</li>
<li>Adem&aacute;s de cambiar de ramas, para qu&eacute; m&aacute;s se puede utilizar el comando git<br />checkout
<ul>
<li>Para crear una nueva rama, detach y patch</li>
</ul>
</li>
<li>Como puede ver los commits que se han realizado en el proyecto
<ul>
<li>git log</li>
</ul>
</li>
<li>He modificado dos archivos y quiero hacer un commit por cada uno de ellos,<br />c&oacute;mo lo puedo hacer?
<ul>
<li>Muchas formas, uno puede ser agregar el cambio de cada uno (omitiendo el cambio de un archivo en el primerio, sin hacerle track) en un comit distingo o hacer 2 branches y en cada uno hacer un cambio en el archivo.</li>
</ul>
</li>
</ul>
