<h1>Ruby</h1>
<p>Resumen de Ruby</p>
<p><strong>1</strong> Interpolaci&oacute;n de strings: "Valor de una variable: #{@variable}"<br /><strong>2&nbsp;</strong>C&oacute;mo se declara un array y c&oacute;mo se adiciona un elemento al final del array:</p>
<blockquote>
<p><code>a = [] &oacute; a = Array.new<br />a &gt;&gt; 1 &oacute; a.push(1)</code></p>
</blockquote>
<p><strong>3&nbsp;</strong>C&oacute;mo se itera un array utilizando el comando each</p>
<blockquote><code>a.each do |i| <br /> &nbsp;&nbsp;&nbsp;&nbsp;puts i <br />end</code></blockquote>
<p><strong>4&nbsp;</strong>C&oacute;mo se declara un hash</p>
<p><code>h = {} &oacute; h = Hash.new</code></p>
<p><strong>5&nbsp;</strong>C&oacute;mo se itera un hash utilizando el comando each</p>
<p><code>h.each do |key, value| <br /> 	 &nbsp;&nbsp;&nbsp;&nbsp; puts "Valor de #{key} es #{value}" <br />end</code></p>
<p><strong>6&nbsp;</strong>Que es un block en ruby? De un ejemplo de c&oacute;mo utilizarlo</p>
<p>Es un shortcut de c&oacute;digo para escribir m&aacute;s corto, por ejemplo recorrer un array as&iacute;</p>
<blockquote><code>a.each{|i| puts i}</code></blockquote>
<p><strong>7&nbsp;</strong>Cual es la convenci&oacute;n en Ruby a la hora de nombrar variables?: snake_case</p>
<p><br /><strong>8&nbsp;</strong>Qu&eacute; son attr_reader, attr_writer y attr_accesor? Para qu&eacute; sirven?</p>
<p>M&eacute;todos dentro de una clase para poder acceder a sus attributos</p>
